/* inizio sezione header */

.sezione_logo{
    background-image: url(../img/pattern.png);
    background-color: blue; 
    background-size: 30%;
    height: 100px;   
}

.logo {
    width: 20%;
    height: auto;
}

h1 {
    font-size: 3em;
}

.sottotitolo {
    color: grey;
    font-weight: 600;
}

figcaption {
    font-size: 12px;
}

/* fine sezione header */

/* inizio sezione main */

.evidenziatore {
    background-color: yellow;
}

/********TABELLA********/

table {
    border-collapse: collapse;
}

.tabella_riga_thead {
    background-color: blue;
    color: white;
}

.tabella_riga_tbody {
    background-color: lightblue;
}

/* fine seione main */

/* inizio sezione footer */

.standard_foto_footer {
    height: 150px;
    width: 200px;
    background-color: black;    
    background-size: 100%;
}

.foto_footer1 {
    background-image: url(../img/monitor.jpg);
}

.foto_footer2 {
    background-image: url(../img/graph.jpg);
}

.testo_foto_footer {
    color: white;
    font-weight: bold;
    padding: 5px;
}

/* fine sezione footer */





