/* inizio sezione header */

.sezione_logo{
    background-image: url(../img/pattern.png);
    background-color: blue; 
    background-size: 30%;
    height: 100px;   
}

.logo {
    width: 20%;
    height: auto;
}

h1 {
    font-size: 3em;
}

.sottotitolo {
    color: grey;
    font-weight: 600;
}

figcaption {
    font-size: 12px;
}

/* fine sezione header */

/* inizio sezione main */

.evidenziatore {
    background-color: yellow;
}

/********TABELLA********/

table {
    border-collapse: collapse;
}

.tabella_riga_thead {
    background-color: blue;
    color: white;
}

.tabella_riga_tbody {
    background-color: lightblue;
}

/* fine seione main */





